.custom-control-label {
    transition: all 150ms;
}

.custom-checkbox--rounded {
    .custom-control-label {
        &::before {
            border-radius: 50% !important;
        }
    }
}

.custom-checkbox--manual-icon {

    .custom-control-input:checked ~ .custom-control-label {
        border-color: $red-custom;
        color: $red-custom;
    }

    .custom-control-label {
        left: 0;
        position: absolute;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey-custom;
        border: 1px solid $grey-custom;
        border-radius: 50%;

        &::after, &::before {
            content: none;
        }
    }
}