.nav-link {
    &.nav-link {
        &--red-active {
            border: 1px solid rgb(146, 146, 146);

            &.active {
                color: #fff !important;
                background-color: $red-custom;
            }
        }
    }
}